<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Employeur - Acceptation de mission</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body style="margin: 0px; padding: 0px;">
		<table border="0px" cellpadding="0px" cellspacing="0px" width="100%">
			<tr>
				<td style="color: #000000; font-family: Calibri, sans-serif; padding: 20px 0px 30px 0px;" width="600px">
					<table align="center" border="0px" cellpadding="0px" cellspacing="0px" style="border: 1px solid #CCCCCC; border-collapse: collapse;" width="600px">
						<tr>
							<td align="center" bgcolor="#C8FFB8" style="padding: 30px 0px 30px 0px; font-size: 54px; font-weight: bold;">
								Entreprise fictive
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding: 70px 30px 70px 30px;">
								<table border="0px" cellpadding="0px" cellspacing="0px" width="100%">
									<tr>
										<td style="color: #153643; font-size: 28px; padding: 0px 0px 30px 0px;">
											Acceptation de mission
										</td>
									</tr>
									<tr>
										<td style="padding: 20px 0px 30px 0px;">
											<p>
												@Temporary_Title @Temporary_Name,
											</p>
											Nous avons bien reçu votre accord pour <b><u>effectuer la mission</u></b> proposée
											<br/>
											dans le précédent email envoyé le @avaibility_SendDate :
											<br/>
											<br/>
											<p align="center"><b>
												@Avaibility_DayName @Avaibility_DayNumber @Avaibility_Month
												<br/>
												de @WorkTimetable_Start à @WorkTimetable_End
												<br/>
												pour le service de @Avaibility_Service
											</b></p>
										</td>
									</tr>
									<tr>
										<td style="padding: 0px 0px 0px 0px;">
											Recevez nos meilleures salutations.
											<br/>
											Le cadre de garde.
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#CCCCCC" style="padding: 30px 30px 30px 30px;">
								<table border="0px" cellpadding="0px" cellspacing="0px" width="100%">
									<tr>
										<td style="color: #000000; font-size: 14px;" width="75%">
											Employeur | Entreprise fictive
											<br/>
											Département de recherche et développement
											<br/>
											<br/>
											Rue du Chevreuil 21 | CH-1004 Lausanne | Vaud | Suisse
											<br/>
											Téléphone : +41 21 456 32 14
											<br/>
											<a href="http://www.entreprisefictive.ch/">
												Accueil - Site Internet
											</a>
										</td>
										<td align="right" valign="bottom">
											<table border="0px" cellpadding="0px" cellspacing="0px">
												<tr>
													<td style="font-weight: bold;">
														Logo Entreprise fictive
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>